<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" routerLink="/login" routerLinkActive="active">Data governance app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/listLabels" routerLinkActive="active">Labels </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listTables" routerLinkActive="active">Tables</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/listColumns" routerLinkActive="active">Columns</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/listSolutions" routerLinkActive="active">Solutions</a>
      </li>
          
        
        
      </ul>
      
    </div>
  </nav>

 

  
  
  
  